RELEASE_TOOL_HOST=0.0.0.0
RELEASE_TOOL_PORT=7860
REDMINE_BASE_URL=http://192.168.1.208:3000
RELEASE_TOOL_SAVE_LOGIN_SECRETS=0
RELEASE_TOOL_SESSION_TTL_SECONDS=28800
RELEASE_TOOL_SESSION_IDLE_SECONDS=7200
RELEASE_TOOL_MAX_ATTACHMENT_MB=200
RELEASE_TOOL_MAX_TOTAL_ATTACHMENT_MB=800
